@{
    ViewBag.Title = "About";
}

<hgroup class="title">
    <h2>@ViewBag.Title</h2>
</hgroup>

<article>
    <p>
        Select committees are an important part of New Zealand's democratic system. Allowing New Zealanders to submit on legislation gives committee members an opportunity to hear from all interested and affected individuals and groups. 
    </p>

    <p>
        This website was designed to simplify the select committee submission process, and thus encourage more participation in New Zealand's parliamentary process.
    </p>

    <p>
        This wesbite is in no way affiliated with Office of the Clerk of the House of Representatives. The information on this website is sourced from www.parliament.nz.
    </p>

</article>
