@{
    ViewBag.Title = "Home Page";
}

    <br />
    <div class="jumbotron">
        <h1>Welcome.</h1>
        <p>Welcome to the Select Committee Submission Service. This is a site designed to streamline the process of making a submission on an item of business before a select committees, an important part of New Zealand's democratic process.</p>
        <p>@Html.ActionLink("Make a submission", "SelectItemOfBusiness", "wizard", null, new { @class = "btn btn-primary btn-lg" })</p>
    </div>




