@{
    ViewBag.Title = "WhatIsTheSubmissionProcess";
}

<h1>What is the process for submissions?</h1>

<h3>Here's how the submission process works:</h3>
<ol class="round">

    <li class="one">
        <h4>Call for submittions</h4>
        The committee will put out a call for submissions for an item of business.
        <a href="http://www.parliament.nz/en-nz/about-parliament/how-parliament-works/procedures/00CLOOCMakingSubmission1/making-a-submission-to-a-parliamentary-select-committee">Learn more…</a>
    </li>

    <li class="two">
        <h4>Send in submissions before closing date</h4>
        Any time before the closing date you can send in a submission for the committee to consider.
        <a href="http://www.parliament.nz/en-nz/about-parliament/how-parliament-works/procedures/00CLOOCMakingSubmission1/making-a-submission-to-a-parliamentary-select-committee">Learn more…</a>
    </li>

    <li class="three">
        <h4>Submissions sent to committee members</h4>
        After the closing date, the submissions will be forwarded to the committee members for consideration.
        <a href="http://www.parliament.nz/en-nz/about-parliament/how-parliament-works/procedures/00CLOOCMakingSubmission1/making-a-submission-to-a-parliamentary-select-committee">Learn more…</a>
    </li>

    <li class="four">
        <h4>Members hear from selected submitters</h4>
        The committee members may decide to hear from selected submitters. This will be organised by the committee staff.
        <a href="http://www.parliament.nz/en-nz/about-parliament/how-parliament-works/procedures/00CLOOCMakingSubmission1/making-a-submission-to-a-parliamentary-select-committee">Learn more…</a>
    </li>

    <li class="five">
        <h4>Committee reports back to house</h4>
        The committee will report their findings back to the house.
        <a href="http://www.parliament.nz/en-nz/about-parliament/how-parliament-works/procedures/00CLOOCMakingSubmission1/making-a-submission-to-a-parliamentary-select-committee">Learn more…</a>
    </li>
</ol>