@{
    ViewBag.Title = "WhatAreSelectCommittees";
}

<h2>About Select Committees</h2>

<h3>What is a select committee?</h3>

<p>
    A select committee is a committee made up of Members of Parliament.
    These committees investigate items of business related to their area of expertise,
    and then report their findings back to the House of Representatives.
</p>

<h3>What types of items do select committees deal with?</h3>

<p>
    Select committees examine bills (proposed laws), hold inquiries, examine the spending plans of the government,
    conduct financial reviews of the government entities, address petitions to Parliament, and consider international treaties.
</p>

<a href="http://www.parliament.nz/en-nz/pb/sc/about/guides/00HOOOCPubResAboutFactSheetsSelect1/parliament-brief-select-committees">
    Click here for more details...
</a>

<h3>What are the subject select committees in the New Zealand Parliament?</h3>

<div class="row">
    <div class="col-sm-6 col-lg-3">
        <div class="thumbnail">
            <img src="~/Content/images/money.png" alt="...">
            <div class="caption">
                <h3>Commerce</h3>
                <p>Business development, commerce, communications, consumer affairs, energy, information technology, insurance, superannuation</p>
                <a href="http://www.parliament.nz/en-nz/pb/sc/details/commerce">More details...</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-lg-3">
        <div class="thumbnail">
            <img src="~/Content/images/genius.png" alt="...">
            <div class="caption">
                <h3>Education and Science</h3>
                <p>Education, education review, industry training, research, science, technology</p>
                <a href="http://www.parliament.nz/en-nz/pb/sc/details/education-science">More details...</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-lg-3">
        <div class="thumbnail">
            <img src="~/Content/images/trends.png" alt="...">
            <div class="caption">
                <h3>Finance and Expenditure</h3>
                <p>Audit of the financial statements of the Government and departments, Government finance, revenue, taxation</p>
                <a href="http://www.parliament.nz/en-nz/pb/sc/details/finance-expenditure">More details...</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-lg-3">
        <div class="thumbnail">
            <img src="~/Content/images/globe.png" alt="...">
            <div class="caption">
                <h3>Foreign Affairs, Defence and Trade</h3>
                <p>Customs, defence, disarmament and arms control, foreign affairs, immigration, trade.</p>
                <a href="http://www.parliament.nz/en-nz/pb/sc/details/foreign-affairs">More details...</a>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-6 col-lg-3">
        <div class="thumbnail">
            <img src="~/Content/images/compose.png" alt="...">
            <div class="caption">
                <h3>Government Administration</h3>
                <p>Civil defence, cultural affairs, fitness, sport and leisure, internal affairs, Pacific Island affairs, Prime Minister and Cabinet, racing, services to Parliament, State services, statistics, tourism, women’s affairs, youth affairs.</p>
                <a href="http://www.parliament.nz/en-nz/pb/sc/details/government-administration">More details...</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-lg-3">
        <div class="thumbnail">
            <img src="~/Content/images/heart.png" alt="...">
            <div class="caption">
                <h3>Health</h3>
                <p>Health</p>
                <a href="http://www.parliament.nz/en-nz/pb/sc/details/health">More details...</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-lg-3">
        <div class="thumbnail">
            <img src="~/Content/images/bookshelf.png" alt="...">
            <div class="caption">
                <h3>Justice and Electoral</h3>
                <p>Crown legal and drafting services, electoral matters, human rights, justice</p>
                <a href="http://www.parliament.nz/en-nz/pb/sc/details/justice-electoral">More details...</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-lg-3">
        <div class="thumbnail">
            <img src="~/Content/images/key.png" alt="...">
            <div class="caption">
                <h3>Law and Order</h3>
                <p>Corrections, courts, criminal law, police, serious fraud</p>
                <a href="http://www.parliament.nz/en-nz/pb/sc/details/law-order">More details...</a>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-6 col-lg-3">
        <div class="thumbnail">
            <img src="~/Content/images/flower.png" alt="...">
            <div class="caption">
                <h3>Local Government and Environment</h3>
                <p>Conservation, environment, local government.</p>
                <a href="http://www.parliament.nz/en-nz/pb/sc/details/local-government">More details...</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-lg-3">
        <div class="thumbnail">
            <img src="~/Content/images/profle.png" alt="...">
            <div class="caption">
                <h3>Māori Affairs</h3>
                <p>Māori affairs</p>
                <a href="http://www.parliament.nz/en-nz/pb/sc/details/maori-affairs">More details...</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-lg-3">
        <div class="thumbnail">
            <img src="~/Content/images/tractor.png" alt="...">
            <div class="caption">
                <h3>Primary Production</h3>
                <p>Agriculture, biosecurity, fisheries, forestry, lands, and land information.</p>
                <a href="http://www.parliament.nz/en-nz/pb/sc/details/primary-production">More details...</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-lg-3">
        <div class="thumbnail">
            <img src="~/Content/images/rgb.png" alt="...">
            <div class="caption">
                <h3>Social Services</h3>
                <p>Housing, senior citizens, social development, veterans’ affairs, and work and income support</p>
                <a href="http://www.parliament.nz/en-nz/pb/sc/details/social-services">More details...</a>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-6 col-lg-3">
        <div class="thumbnail">
            <img src="~/Content/images/truck.png" alt="...">
            <div class="caption">
                <h3>Transport and Industrial Relations</h3>
                <p>Accident compensation, industrial relations, labour, occupational health and safety, transport, transport safety</p>
                <a href="http://www.parliament.nz/en-nz/pb/sc/details/transport-industrial-relations">More details...</a>
            </div>
        </div>
    </div>
</div>

<h3>What are the specialist select committees in the New Zealand Parliament?</h3>

<div class="row">
    <div class="col-sm-6 col-lg-3">
        <div class="thumbnail">
            <img src="~/Content/images/briefcase.png" alt="...">
            <div class="caption">
                <h3>Business</h3>
                <p>Facilitates House business, decides the size and composition of select committees, grants extensions to the report dates for bills before committees, and grants permission for members’ votes to be counted while they are absent from the House.</p>
                <a href="http://www.parliament.nz/en-nz/pb/sc/details/business">More details...</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-lg-3">
        <div class="thumbnail">
            <img src="~/Content/images/megaphone.png" alt="...">
            <div class="caption">
                <h3>Officers of Parliament</h3>
                <p>Makes recommendations to the House on the appropriations and the appointments of the Auditor-General, the Ombudsmen, and the Parliamentary Commissioner for the Environment.</p>
                <a href="http://www.parliament.nz/en-nz/pb/sc/details/officers-parliament">More details...</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-lg-3">
        <div class="thumbnail">
            <img src="~/Content/images/flag.png" alt="...">
            <div class="caption">
                <h3>Privileges</h3>
                <p>Considers questions of privilege (see Parliament Brief, ‘Parliamentary Privilege’).</p>
                <a href="http://www.parliament.nz/en-nz/pb/sc/details/privileges">More details...</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-lg-3">
        <div class="thumbnail">
            <img src="~/Content/images/check.png" alt="...">
            <div class="caption">
                <h3>Regulations Review</h3>
                <p>Administration of government regulations</p>
                <a href="http://www.parliament.nz/en-nz/pb/sc/details/regulations-review">More details...</a>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-6 col-lg-3">
        <div class="thumbnail">
            <img src="~/Content/images/booklet.png" alt="...">
            <div class="caption">
                <h3>Standing Orders</h3>
                <p>House procedures and practices.</p>
                <a href="http://www.parliament.nz/en-nz/pb/sc/details/standing-orders">More details...</a>
            </div>
        </div>
    </div>
</div>